langchain==1.2.0
langchain_chroma==1.1.0
langchain_community==0.4.1
langchain_core==1.2.5
langchain_google_genai==4.1.2
langchain_text_splitters==1.1.0
langgraph==1.0.5
pydantic==2.12.5
python-dotenv==1.2.1
rich==14.2.0
tavily==1.1.0
tavily_python==0.7.14
typing_extensions==4.15.0
