langgraph>=1.0.0
langchain>=1.0.0
langchain-openai>=1.0.0
langchain[google-genai]
langchain-anthropic>=1.0.0
langchain-community>=0.4.0
langchain-tavily>=0.2.12
langchain-mcp-adapters>=0.1.11
pydantic>=2.0.0
rich>=14.0.0
jupyter>=1.0.0
ipykernel>=6.20.0
tavily-python>=0.5.0
pandas>=2.3.3
langgraph-cli[inmem]>=0.4.11
